@font-face {
    font-family: 'ostrich-black';
    src: url('../fonts/ostrich-black.eot');
    src: url('../fonts/ostrich-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrich-black.woff') format('woff'),
         url('../fonts/ostrich-black.ttf') format('truetype'),
         url('../fonts/ostrich-black.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'ostrich-light';
    src: url('../fonts/ostrich-light.eot');
    src: url('../fonts/ostrich-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrich-light.woff') format('woff'),
         url('../fonts/ostrich-light.ttf') format('truetype'),
         url('../fonts/ostrich-light.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}




.bold {
	font-family: 'ostrich-black';
	text-align: center;
}

.bold:hover {
}

.light {
	font-family: 'ostrich-light';
	text-align: center;
}

h1 {
	font-size: 100px;
	line-height: 100px;
}

h2 {
	font-size: 62px;
	line-height: 62px;
}

h3 {
	font-size: 38px;
	line-height: 38px;
}

h4 {
	font-size: 24px;
	line-height: 24px;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

a:hover {
	color: rgba(255,242,143,1);
}

.pink {
	color: rgba(255,184,220,1);
}

.blue {
	color: rgba(92,213,229,1);
}

.yellow {
	color: rgba(255,242,143,1);
}

.spacing1{
	padding: 50px 0 40px 0;
}

.spacing2 {
	padding: 20px 0 20px 0;
}

.spacing3 {
	padding: 80px 20px 20px 20px;
}

.spacing4 {
	padding: 40px 0px 40px 0px;
}

.header {

}

.border-bottom {
	border-bottom-style: solid;
	border-width: 1px;
	border-color:  rgba(255,184,220,1);
}

.border-side {
	border-left-style: solid;
	border-right-style: solid;
	border-width: 1px;
	border-color:  rgba(255,184,220,1);
}

.navigation-top {
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 20px;
}

.navigation-left {
	vertical-align: middle;
	height: 100%;
}

.align-left {
	text-align: left;
	display: block;
}

body {
	border-right-style: dotted;
	border-left-style: dotted;
}